*{
    box-sizing: border-box;
}
body{
    background-image: url("bgc-2.jpeg");
    background-position: center;
    background-size: cover;
}
.first{
    margin-left: 15%;
    margin-right: 15%;
    border: 3px solid crimson;
    padding-right: 15px;
    border-radius: 20px;
}
.sc{ border-radius: 20px;}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
 ul, li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
    font-size: 17px;
}
a{
    text-decoration: none;
    text-align: center;
    color: black;
    font-weight: bold;
}
a:hover{
    color: crimson;
    transition: .2s;
    
}
input[text]{ border: 2px solid gray;
}
body{
    background-color:rgb(50, 18, 72)
}
.fp{
    color: black;
    font-weight: lighter;
    text-align: center;
}
span{
    color: crimson;
}
/*.parent{
    border: 2px solid black;
    margin-left: 35%;
    margin-right: 35%;
    padding : 5px 5px 5px 5px;
}*/
.name{
    margin-left:auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 15px 15px 10px 10px;
    text-align: center;
    width: 40%;
    font-weight: bold;
    color: black;
    font-size: 18px;
    border: 2px solid rgba(253, 253, 253, 0.979);
    border-radius: 20px;
    background-color: crimson;
    font-family: sans-serif;
    animation : name 10s ease-in infinite;
}
@keyframes name{
    0%{ border: 5px solid chartreuse;}
    25%{ border: 5px solid blue;}
    75%{ border: 5px solid chartreuse;}
    100%{ border: 5px solid blue;}
}
.item-1{
    border: 2px solid black;
    border-radius: 0px;
    padding: 10px 10px 10px 10px;
    color: blue;
}
.image{
    box-sizing: border-box;
    display: flex;
    align-content: center;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 310px;
    border: 5px solid black;
    padding: 10px;
    border-radius: 20px;
    background-color: lightcoral;
    /*cursor: pointer;*/
    animation : animate 8s ease-in infinite;
    
}
@keyframes animate{
    0%{ border: 5px solid chartreuse;}
    25%{ border: 5px solid blue;}
    75%{ border: 5px solid chartreuse;}
    100%{ border: 5px solid blue;}
}
.myself{ 
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    width: 30%;
    height: 280px;
    transition: .5s;
    background-image: url(MYSELF.png);
    background-position: center;
    background-size: cover;
    box-sizing: border-box;
}
.myself p{
    opacity: 0;
    transform: scale(0);
    transition: .5s;
    font-size : 15px;
    color: black;
    padding: 15px;
}
.myself:hover{
    box-shadow: rgba(0, 0, 2, 0.619) inset;
}
.myself:hover p{
    opacity: 1;
    transform: scale(1);
    background-color: cornsilk;
}
.myself2{ 
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    width: 30%;
    height: 280px;
    transition: .5s;
    background-image: url(MYSELF.png);
    background-position: center;
    background-size: cover;
    box-sizing: border-box;
}
.myself2 p{
    opacity: 0;
    transform: scale(0);
    transition: .5s;
    font-size : 15px;
    color: black;
    padding: 15px;
}
.myself2:hover{
    box-shadow: rgba(0, 0, 2, 0.619) inset;
}
.myself2:hover p{
    opacity: 1;
    transform: scale(1);
    background-color: cornsilk;
}
.myself3{ 
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    width: 30%;
    height: 280px;
    transition: .5s;
    background-image: url(MYSELF.png);
    background-position: center;
    background-size: cover;
    box-sizing: border-box;
}
.myself3 p{
    opacity: 0;
    transform: scale(0);
    transition: .5s;
    font-size : 15px;
    color: black;
    padding: 15px;
}
.myself3:hover{
    box-shadow: rgba(0, 0, 2, 0.619) inset;
}
.myself3:hover p{
    opacity: 1;
    transform: scale(1);
    background-color: cornsilk;
}
.parent2{
    display: flex;
    justify-content: space-between;
    margin-left: 4%;
    margin-right: 4%;
}